@page
@model RazorApp.Pages.Categories.Edit

<!DOCTYPE html>

<html>
<head>
    <title>Edit</title>
</head>
<body>
<div>
    <form method="post">
        <input type="hidden" asp-for="Category.Id"/>
        <div>
            <label asp-for="Category.Name"></label>
            <input type="text" asp-for="Category.Name"/>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Category.DisplayOrder"></label>
            <input type="text" asp-for="Category.DisplayOrder"/>
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary"> Edit</button>
        </div>
        <div asp-validation-summary="All"></div>
    </form>
</div>
</body>
</html>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    } 
}